<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /home/grupper/D05-23/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule /home/grupper/D05-23/index.html [L]
</IfModule>